strict-peer-dependencies=true
auto-install-peers=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*oxlint*
shared-workspace-lockfile=true
save-workspace-protocol=rolling
